@import "tailwindcss";

:root {
  --font-sans: 'IRANYekanX', ui-sans-serif, system-ui, sans-serif;
}

@theme {
  --color-primary: #c5a466;

  --radius-custom100: 15px;
  --radius-custom200: 25px;
}

body {
  /* font-family: "IRANYekanX-UltraLight", "IRANYekanX-Light", "IRANYekanX-Regular",
    "IRANYekanX-Medium", "IRANYekanX-DemiBold", "IRANYekanX-Bold",
    "IRANYekanX-ExtraBold", "IRANYekanX-Heavy", sans-serif; */

  font-family: 'IRANYekanX';
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

/** fonts **/
@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Woff/IRANYekanXFaNum-Thin.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-Thin.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 200;
  src: url("/fonts/Woff/IRANYekanXFaNum-UltraLight.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-UltraLight.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Woff/IRANYekanXFaNum-Light.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Woff/IRANYekanXFaNum-Medium.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Woff/IRANYekanXFaNum-DemiBold.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Woff/IRANYekanXFaNum-ExtraBold.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Woff/IRANYekanXFaNum-Black.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 950;
  src: url("/fonts/Woff/IRANYekanXFaNum-ExtraBlack.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-ExtraBlack.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: 1000;
  src: url("/fonts/Woff/IRANYekanXFaNum-Heavy.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/Woff/IRANYekanXFaNum-Bold.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'IRANYekanX';
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/Woff/IRANYekanXFaNum-Regular.woff") format("woff"),
    url("/fonts/Woff2/IRANYekanXFaNum-Regular.woff2") format("woff2");
}

.ql-editor,
.ql-editor * {
  color: inherit !important;
}

.ql-editor {
  direction: rtl;
  text-align: right;
  color: white !important;
  font-family: var(--font-iranYekan), sans-serif !important;
}

.rtl .ql-editor {
  direction: rtl;
  text-align: right;
}

.ltr .ql-editor {
  direction: ltr;
  text-align: left;
}

.custom-bullet {
  width: 15px;
  height: 15px;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.custom-bullet-active {
  width: 25px;
  height: 15px;
  border-radius: 9999px;
  background-color: rgba(169, 131, 61, 0.85);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}


.custom-bullet-Gallery {
  width: 15px;
  height: 15px;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.custom-bullet-Gallery-active {
  width: 25px;
  height: 15px;
  border-radius: 9999px;
  background-color: rgba(169, 131, 61, 1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}



.swiper-pagination {
  position: absolute !important;
  bottom: 16.5% !important;
  left: 0 !important;
  right: 0 !important;
  margin-inline: auto !important;
  z-index: 5 !important;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.gallery-pagination {
  position: absolute !important;
  bottom: 13.5% !important;
  left: 0 !important;
  right: 0 !important;
  margin-inline: auto !important;
  z-index: 5 !important;
  display: flex;
  justify-content: center;
  gap: 8px;
}

@media (max-width: 640px) {
  .swiper-pagination {
    bottom: 20% !important;
  }

  .gallery-pagination {
    bottom: 15.5% !important;

  }

  .custom-bullet {
    width: 13px;
    height: 13px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  .custom-bullet-active {
    width: 20px;
    height: 13px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  }

  .custom-bullet-Gallery {
    width: 13px;
    height: 13px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  }

  .custom-bullet-Gallery-active {
    width: 20px;
    height: 13px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .swiper-pagination {
    bottom: 20% !important;
  }
}